.body {
  display: flex;
  justify-content: center;
}

.input {
  height: 30px;
  width: 205px;
  margin: 2px 2px;
  background-color: rgb(195, 192, 184);
  font-size: 18px;
  border: 1px solid #666;  
}

.calc {
  background-color: rgb(154, 118, 189);
  padding: 10px 10px;
}

.calc__section-first {
  display: flex;
}

.calc__section-second {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calc__section-third {
  display: flex;
}

.button {
  height: 50px;
  width: 50px;
  font-size: 18px;
  background-color: rgb(184, 194, 190);
  border: 1px solid #666;
  border-radius: 30%;
  margin: 2px 2px;
}

.button_ac {
  width: 158px;
  background-color: rgb(127, 238, 238);
}

.button_zero {
  width: 104px;
}

.button_symbol {
  background-color: bisque;
}
